:root {
    --primary-color: #1557DD;
    --white: rgb(255, 255, 255);
}

* {
    font-family: 'Montserrat', sans-serif;;
    box-sizing: border-box;
    outline: 0;
}

h1{
    border-bottom: solid 1px var(--primary-color);
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    min-width: 640px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: left;
    background: var(--white);
    box-shadow: 2px 6px 17px 0px rgba(0,0,0,0.75);
}

.container p{
    line-height: 1.6em;
    margin-left: 30px;
}


.container button {
    border: none;
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--white);
    width: 100%;
    height: 40px;
    font-size: 22px;
    margin-bottom: 10px;
}

