<%- include('./includes/head.ejs') %>

<main class="home-main">
    <section class="container">
        <h1>Welcome the agenda made to manage your contacts</h1>
        
        <a href="/contacts">
            <button type="button" class="btn">
                Click here to access your contacts
            </button>
        </a>
    </section>
</main>

<%- include('./includes/footer.ejs') %>
