<%- include('./includes/head.ejs') %>

<body>
    <main>
        <section class="container">
            <h1>Lorem</h1>
            <form action="/" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"
                <label>Cliente</label>
                <input type="text" name="cliente" id="">
                <button>Submit</button>
            </form>
        </section>
    </main>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>